<!DOCTYPE html>
<html lang="ru" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пациенты</title>
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body class="w3-container">

<div class="w3-bar w3-border w3-light-grey w3-card-4">
    <a class="w3-bar-item w3-button" th:href="@{/home}"><i class="fa fa-home"></i></a>
    <span class="w3-bar-item w3-dark-gray">Пациенты</span>
    <a class="w3-bar-item w3-button" href="">Опросы</a>
    <a class="w3-bar-item w3-button" href="">Диагнозы</a>
    <a class="w3-bar-item w3-button w3-right w3-red" sec:authorize="isAuthenticated()" th:href="@{/logout}"><i
            class=" fa fa-sign-out"></i></a>
    <a class="w3-bar-item w3-button w3-right w3-green" sec:authorize="!isAuthenticated()" th:href="@{/home}"><i
            class=" fa fa-sign-in"></i></a>
    <span class="w3-bar-item w3-right" sec:authorize="isAuthenticated()">Пользователь: <span
            sec:authentication="principal.username"></span></span>
</div>

<h2 class="w3-container w3-card-4 w3-red w3-margin-top w3-padding" th:if="${param.error}">
    Недопустимые данные пациента.
</h2>

<div class="w3-container w3-dark-gray w3-margin-top w3-card-4">
    <h1>Пациенты</h1>
</div>

<div class="w3-container w3-dark-gray w3-padding w3-card-4" sec:authorize="hasRole('ROLE_DOCTOR')"
     th:if="${lastUpdated != null}">
    <span>Последний изменённый: <span th:text="${lastUpdated.getFullName()}"></span> (<span
            th:text="${lastUpdated.updatedAt}"></span>)</span>
</div>

<div class="w3-bar w3-border w3-round">
    <a class="w3-button"
       th:href="@{/patients(fullName=${fullName}, minAge=${minAge}, maxAge=${maxAge}, pageNumber=${pageNumber - 1}, gender=${gender})}"
       th:if="${pageNumber > 1}">&laquo;</a>
    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
    <a class="w3-button"
       th:href="@{/patients(fullName=${fullName}, minAge=${minAge}, maxAge=${maxAge}, pageNumber=${i}, gender=${gender})}"
       th:if="${pageNumber != i}">[[${i}]]</a>
    <span class="w3-button w3-green" th:unless="${pageNumber != i}">[[${i}]]</span></span>
    <a class="w3-button"
       th:href="@{/patients(fullName=${fullName}, minAge=${minAge}, maxAge=${maxAge}, pageNumber=${pageNumber + 1}, gender=${gender})}"
       th:if="${pageNumber < totalPages}">&raquo;</a>
</div>


<table class="w3-table w3-striped w3-card-4 ">
    <thead>
    <tr class="w3-gray">
        <th sec:authorize="hasRole('ROLE_ADMIN')">ID</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Пол</th>
        <th>Дата рождения</th>
        <th>Возраст</th>
        <th class="w3-center" style="width: 150px">Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patient : ${patients}">
        <td sec:authorize="hasRole('ROLE_ADMIN')" th:text="${patient.patientId}"></td>
        <td th:text="${patient.lastName}"></td>
        <td th:text="${patient.firstName}"></td>
        <td th:text="${patient.patronymic}"></td>
        <td th:text="${patient.gender}"></td>
        <td th:text="${patient.birthDate}"></td>
        <td th:text="${patient.getAge()}"></td>
        <td class="w3-row">
            <form class="w3-col s6" th:action="@{/patients/add}" th:method="get">
                <input th:name="patientId" th:value="${patient.patientId}" type="hidden"/>
                <button class="w3-button w3-dark-gray w3-margin-left" type="submit"><i class="fa fa-edit"></i></button>
            </form>
            <form class="w3-col s6" sec:authorize="hasRole('ROLE_ADMIN')"
                  th:action="@{/patients/delete/{id}(id=${patient.patientId})}"
                  th:method="post">
                <button class="w3-button w3-red w3-margin-left" type="submit"><i class="fa fa-trash"></i></button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<div class="w3-container w3-dark-gray w3-card-4 w3-padding-16">
    <span class="w3-large" th:text="${'Всего пациентов ' + totalItems}"></span>
    <a class="w3-button w3-right w3-green" th:href="@{/patients/add}">Добавить</a>
</div>

<form class="w3-container w3-card-4 w3-light-grey w3-margin-top" method="get" th:action="@{/patients}">
    <h3>Фильтры</h3>

    <div class="w3-row-padding">
        <div class="w3-col s3">
            <label>ФИО</label>
            <input class="w3-input w3-border w3-round" name="fullName" placeholder="Любые символы, содержащиеся в ФИО"
                   th:value="${fullName}"
                   type="text">
        </div>
        <div class="w3-col s3">
            <label>Возраст больше чем</label>
            <input class="w3-input w3-border w3-round" name="minAge" th:placeholder="${minPatientAge}"
                   th:value="${minAge}"
                   type="number">
        </div>
        <div class="w3-col s3">
            <label>Возраст меньше чем</label>
            <input class="w3-input w3-border w3-round" name="maxAge" th:placeholder="${maxPatientAge}"
                   th:value="${maxAge}"
                   type="number">
        </div>
        <div class="w3-col s3">
            <label>Пол</label>
            <select class="w3-select w3-border w3-round" name="gender">
                <option disabled selected value="">Выберите пол</option>
                <option th:selected="${#strings.equalsIgnoreCase(gender, 'М')}" th:value="М">М</option>
                <option th:selected="${#strings.equalsIgnoreCase(gender, 'Ж')}" th:value="Ж">Ж</option>
            </select>
        </div>
    </div>

    <div class="w3-row w3-margin">
        <div>
            <button class="w3-button w3-dark-gray w3-right" type="submit">Поиск <i
                    class="fa fa-search"></i></button>
        </div>
        <a class="w3-button w3-dark-gray w3-right w3-margin-right" th:href="@{/patients/reset}">
            Очистить <i class="fa fa-trash"></i>
        </a>
    </div>
</form>

</body>
</html>